$black_header_color: #25262a;
$lite_blue: #0082ad;
$darck_blue: #007aa3;
$container_width: 1244px;
$white: #fff;
*{
	padding: 0;
	margin: 0;
	outline: 0 !important;
}
img{
	width: 100%;
}
.container{
	width: $container_width;
	margin: 0 auto;
}
.headerGrad{
	background: -webkit-gradient(linear, left top, right top, from(#15b799), color-stop(33.3%, #15b799), color-stop(33.3%, #0082ad), color-stop(66.6%, #0082ad), color-stop(66.6%, #133a81), to(#133a81));
	background: -webkit-linear-gradient(left, #15b799 0%, #15b799 33.3%, #0082ad 33.3%, #0082ad 66.6%, #133a81 66.6%, #133a81 100%);
	background: -o-linear-gradient(left, #15b799 0%, #15b799 33.3%, #0082ad 33.3%, #0082ad 66.6%, #133a81 66.6%, #133a81 100%);
	background: linear-gradient(90deg, #15b799 0%, #15b799 33.3%, #0082ad 33.3%, #0082ad 66.6%, #133a81 66.6%, #133a81 100%);
	height: 4px;
}
.headerInfo{
	.container{
		padding: 0;
	}
	padding-top: 33px;
	padding-bottom: 29px;
	.logo{
		padding-left: 0px;
		margin-top: -4px;
		img{
			width: 139px;
		}
	}
	.slogan{
		padding-left: 6px;
		    padding-top: 3px;
		h2{
			letter-spacing: 1.14px;

			width: 379px;
			font-family: OpenSans;
			font-size: 20px;
			font-weight: 300;
			line-height: 1.8;
			text-align: left;
			color: $black_header_color;

			span{
				font-weight: 600;
				color: $lite_blue;
			}
		}
	}
	.contacts{
		padding:0 0 0 23px;
		.contact_img{
			width: 16px;
			margin-right: 16px;
			    margin-top: -7px;
		}
		.tel{
			font-family: OpenSans;
			font-size: 28px;
			line-height: 1.25;
			letter-spacing: 2px;
			color: #15b799;

			span {
			  font-weight: 300;
			}
		}
		.mail{
		    margin-top: 10px;

		    .infofactoring-networkru {
		      font-family: OpenSans;
		      font-size: 15px;
		      font-weight: 300;
		      line-height: 2.14;
		      color: $lite_blue;
		    }
		}
		
	}
}
.nav{
	width: 100%;
	height: 50px;
	background-color: #ececec;
	.row{
		padding-right: 28px;
		    padding-left: 28px;
	}
	a{
		text-decoration: none;
	}
	.col{
		padding: 0;
		&:hover{
			background-color: $darck_blue;
			.nav-hover a{
				color: $white;
			}
		}
		&:hover>.menu-daisplay-none{
			display: block;
		}
	}
	.nav-hover{
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		a{
			font-family: OpenSans;
			font-size: 15px;
			line-height: 2.4;
			text-align: center;
			color: $black_header_color;
			text-transform: uppercase;
		}
	}

	.menu-daisplay-none{
		z-index: 9;
		display: none;
		background-color: $lite_blue;
		position: absolute;
		width: 100%;
		div{
			padding: 3% 12% 3% 6%;
			&:hover{
				background-color: $darck_blue;
			}
		}
		a{
			font-family: OpenSans;
			font-size: 18px;
			line-height: 1.44;
			text-align: left;
			color: $white;
		}
	}
}
.slider{
	background: url(../img/Slide_img.jpg) no-repeat;
	.slick-slider{
		margin-bottom: 0;
	}
	.container{
		// padding: 0;
		width: 1200px;
	}
	.single-item{
		.displauFlex{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
		.slick-dots {
			top: 91%;
			left: -45%;

			.slick-active{
				button{
					&:before{
						background: white;
					}
				}
			}
			li{
				button{
					&:before{
						width: 11px;
						height: 11px;
						display: block;
						border-radius: 50%;
						border: 1px solid white;
						opacity: 1;
						font-size: 0;
						line-height: 0;
					}
				}
			}	
		}
		.slide_content{
			width: 53%;
			display: inline-block;
			margin-left: 1px;
			h3{
				    margin-top: 71px;
			  text-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.1);
			  font-family: OpenSans;
			  font-size: 34px;
			  font-weight: bold;
			  line-height: 1.32;
			  letter-spacing: 1.7px;
			  text-align: left;
			  color: #ffffff;
			}

			p{
				margin-top: 18px;
				width: 82%;
				margin-bottom: 31px;

			  font-family: OpenSans;
			  font-size: 18px;
			  line-height: 1.67;
			  text-align: left;
			  color: #ffffff;
			}
			button {
				margin-bottom: 20px;

			  width: 254px;
			  height: 52px;
			  border-radius: 2px;
			  -webkit-box-shadow: 0px 2px 2px 0 rgba(224, 97, 97, 0.5), inset 0px 2px 0 0 #ffffff;
			          box-shadow: 0px 2px 2px 0 rgba(224, 97, 97, 0.5), inset 0px 2px 0 0 #ffffff;
			  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#ececec)), -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#ffffff));
			  background-image: -webkit-linear-gradient(top, #ececec, #ececec), -webkit-linear-gradient(bottom, #d7d7d7, #ffffff);
			  background-image: -o-linear-gradient(top, #ececec, #ececec), -o-linear-gradient(bottom, #d7d7d7, #ffffff);
			  background-image: linear-gradient(to bottom, #ececec, #ececec), linear-gradient(to top, #d7d7d7, #ffffff);
			}
			a{
			  padding-bottom: 80px;

			  font-family: OpenSans;
			  font-size: 14px;
			  font-weight: 300;
			  line-height: 2.14;
			  text-align: left;
			  color: #e7e7e7;
			  display: block;
			}
		}
		.slide_img{
			margin-top: 31px;
			-ms-flex-item-align: end;
			    align-self: flex-end;
			width: 46%;
			float: right;
			display: inline-block;
		}
	}
}

.getMoney{
	h2{
		padding-bottom: 52px;
		padding-top: 57px;
	  font-family: OpenSans;
	      font-size: 38.8px;
	  font-weight: 600;
	  line-height: 0.8;
	  text-align: center;
	  color: #133a81;
	}
	.col{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		img{
			margin-bottom: 39px;
			width: 30%;
		}
		h3{
			margin-bottom: 25px;
		  font-family: OpenSans;
		  font-size: 16px;
		  font-weight: 600;
		  line-height: 1.13;
		  text-align: center;
		  color: #1c1c1c;
		}
		p{
		  font-family: OpenSans;
		  font-size: 14px;
		  line-height: 1.43;
		  text-align: center;
		  color: #000000;
		  margin-bottom: 82px;
		}
	}
}
.financingTerms{
	background: url(../img/financingTerms.jpg) no-repeat;
	    padding: 46px 0 52px 0;
	h2{
		    margin-bottom: 50px;

	  font-family: OpenSans;
	  font-size: 38.5px;
	  font-weight: 600;
	  line-height: 1.29;
	  text-align: center;
	  color: #ffffff;
	}
	.col{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		img{
			margin-bottom: 39px;
			width: 35%;
		}
		h3{
			    margin-bottom: 41px;
			font-family: OpenSans;
			font-size: 20px;
			line-height: 0.9;
			text-align: left;
			color: #ffffff;
	  		text-transform: uppercase;
		}
		p{
		    font-family: Roboto;
		    font-size: 16px;
		    font-weight: bold;
		    line-height: 1.25;
		    text-align: center;
		    color: #ffffff;
		}
	}
}
.globalFactoringNetwork{
	.container{
		padding: 0;
	}
	background: url(../img/Layer16.jpg) no-repeat;
	    padding: 50px 0 13px 0;
	h2{
		    margin-bottom: 16px;
	  font-family: OpenSans;
	  font-size: 33.5px;
	  font-weight: bold;
	  line-height: 1.34;
	  text-align: left;
	  color: #4ac6b7;
	}
	
	.globalFactoringNetwork_p{
		    margin-bottom: 78px;

	  font-family: OpenSans;
	  font-size: 18px;
	  line-height: 1.39;
	  text-align: left;
	  color: #000000;
	}
	article{

		img{
			float: left;
			width: 27%;
			    margin-right: 17px;
			    margin-bottom: 59px;
		}
		h3{
		  font-family: Roboto;
		  font-size: 16px;
		  font-weight: bold;
		  line-height: 1.25;
		  text-align: left;
		  color: #000000;
		  text-transform: uppercase;

		  padding-top: 14px;
		}
		.secondH3{
			padding-top: 23px;
		}
		p{
		  font-family: OpenSans;
		  font-size: 14px;
		  line-height: 1.43;
		  text-align: left;
		  color: #000000;
		}
	}
}
.supply{
	height: 100%;
	padding: 46px 0 90px 0;
	background: #4ac6b7;
	strong{
		font-weight: bold;
		line-height: 1.44;
		display: block;
		    width: 65%;
	}
	p{
		text-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.1);
		font-family: OpenSans;
		font-size: 34px;
		font-weight: 300;
		line-height: 1.32;
		text-align: left;
		color: #ffffff;
	}
}
.Reviews{
	background: url(../img/review.jpg) no-repeat;
	height: 506px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
    z-index: -1;
	.review{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
    	padding: 30px;
		position: relative;
		width: 36%;
		height: 65%;
		background: #f3f3f3;
		img{
				width: 20%;
				opacity: 0.5;
				position: absolute;
				bottom: 4%;
				left: 4%;
			}
		&:after{
			content: '';
			display: block;
			width: 335px;
			height: 329px;
			opacity: 0.5;
			background-color: #0082ad;
			right: -75px;
			top: 47px;
			position: absolute;
			z-index: -1;
		}
		p{
			font-family: OpenSans;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.56;
			text-align: left;
			color: #000000;
		}
		.strong{
		  font-size: 18px;
		  font-weight: bold;
		  line-height: 2.19;
		}
		.fio{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
			    -ms-flex-pack: end;
			        justify-content: flex-end;

			span{
			  font-family: OpenSans;
			  font-size: 16px;
			  font-weight: bold;
			  line-height: 1.56;
			  text-align: left;
			  color: #000000;
			  span{
			  	display: block;
			  }
			}
		}
	}
}